/archives
/archive
/releases
/Ressourcen
/oldsound
/oldstuff
/doc/API
/Music
/splash/TPoFSplash/build/CMakeFiles
/splash/TPoFSplash/build/Makefile
/War3Mod.mpq
/maps/Abilities.w3a
/maps/Buffs.w3h
/maps/Destructibles.w3b
/maps/Doodads.w3d
/maps/Items.w3t
/maps/Researches.w3q
/maps/Units.w3u